* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* swipper styles */
.heroSwipper.swiper {
  width: 100%;
  height: 100%;
}

.heroSwipper .swiper-pagination {
  bottom: 2rem !important;
}
.swiper-pagination-bullet-active {
  background-color: #00bba7 !important;
}

.heroSwipper .swiper-pagination-bullet {
  background-color: white;
}

.autor-list li:not(:first-child) {
  margin-left: -1rem !important;
}

/* about us designs */
.headTitle {
  width: fit-content;
  position: relative;
}
.headTitle::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  border-radius: 10px;
  background-color: #00bba7;
  bottom: 0;
  left: 0;
}

.scroll-header {
  background-color: white !important;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.scroll-header .container .desktop-menu a {
  color: #162636;
}
.scroll-header .container .desktop-menu a:hover {
  color: #00bba7;
}

.underline-text {
  position: relative;
  overflow: hidden;
  width: fit-content;
}

.underline-text::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background: #00bba7;
  transition: all 0.2s ease-in-out;
}

.underline-text:hover::after {
  transform: scaleX(1);
}

/* marquee animation */
.animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* testomonial */
.reviewSwiper.swiper {
  width: 100%;
  padding-bottom: 50px;
}

.reviewSwiper .swiper-slide {
  display: flex;
  height: auto;
}

.fa-quote-left {
  display: flex;
}

.reviewSwiper .swiper-pagination-bullet {
  background-color: #162636;
}


.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 30%);
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(0 0 0 / 40%);
    cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}